.main{
  height: 100vh;
  display: flex;
  justify-content: center;
}
.heading{
 text-align: center;

 font-family: Georgia, 'Times New Roman', Times, serif;
}
.quote{
  background-color: white;
  width: 40%;
  height: fit-content;
  align-items: center;
  margin-top: 80px;
  border: 2px solid gray;
  border-radius: 8px;
  padding: 30px;
 
}

span{
  font-size: 80px;
  font-weight: 30px;
  
    transition: color 2s ease-in-out;

  
}
.author{
  float: right;
  text-align: right;
}
.button{
  border: none;
  width:90px;
  float: right;
  height:40px;
  border-radius: 4px;
  margin-right: 10px;
  color: white;
  font-size: 15px;
  margin-top: 18px;
  
}
.twitter{
  width:30px;
  height: 30px;
  align-items: center;
  padding-left: 18px;
  padding-top: 12px;
  border-radius: 3px;
  margin-right: 10px;
}
.instagram{
  width:30px;
  height: 30px;
  align-items: center;
  padding-left: 18px;
  padding-top: 12px;
  border-radius: 3px;
  margin-right: auto;
}
.icons{
  display: flex;
  
}
.editor{
  display: flex;
  justify-content: center;
}
.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.fade-in.show {
  opacity: 1;
}

@media only screen and (max-width : 600px){
  .main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .quote{
    width: 70%;
    height: fit-content;
    padding: 15px;
  }
}